@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem; /* 使用了 rem 单位 */
  background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');  /* 背景图第一次使用两张图叠加，在图片上覆盖一个渐变颜色，让背景图变得更加昏暗 */
  background-blend-mode: soft-light;  /* 神奇的魔法，图片的混合模式，应该是类似于滤镜之类的东西 */
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Arima Madurai', cursive; /* 单独引用了字体 */
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); /* 字体周围设置了一点点阴影效果显得更加立体和柔和 */
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 15s;
    animation-delay: 0s;
  }

  &--two {
    animation-duration: 16s;
    animation-delay: 1s;
  }

  &--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}

	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
}

.bird {
  width: 88px;
  height: 125px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  &--one {
		animation-duration: 1s;
		animation-delay: -0.5s;
  }

	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}

	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}

	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}
}

@keyframes fly-cycle {
  100% {
    background-position: -890px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}

	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
}
